params {
  mode = "all"
  outdir = "results_gryllus"

  spaceranger_bin = "/home/martinpl/projects/spaceranger-3.1.2/spaceranger"

  // mkref inputs
  genome_name = "Gryllus_ref"
  fasta = "/path/to/Gbi_genome.fa"
  gtf   = "/path/to/Gbi_Genes_clean.gtf"

  transcriptome_dir = null

  // spaceranger count options
  create_bam = "false"
  unknown_slide = null  // e.g. "visium-1"

  // loaders
  files_dir = "/home/martinpl/projects/datashare/grillus/files"
  run_load_py = true
  run_load_r  = true

  // for load_only / load_py / load_r
  outs_base = null
}

process {
  withName:SPACERANGER_MKREF { cpus = 8;  memory = '32 GB' }
  withName:SPACERANGER_COUNT { cpus = 16; memory = '64 GB' }
  withName:LOAD_GRyllus_PY   { cpus = 2;  memory = '8 GB'  }
  withName:LOAD_GRyllus_R    { cpus = 2;  memory = '8 GB'  }
}
