params {
  visium_base = "/home/martinpl/projects/datashare/visium_PDAC"
  ref_rds     = "/home/martinpl/projects/datashare/integrated_sce.rds"
  outdir      = "results"
  mode        = "all"   // spotlight | spade | all
}


process {
  withName:PREPROCESS_INTEGRATED {
    cpus = 4
    memory = '16 GB'
  }

  withName:SPOTLIGHT_RUN {
    cpus = 8
    memory = '64 GB'
  }

  withName:SPADE_RUN {
    cpus = 8
    memory = '64 GB'
  }
}

